@font-face {
    font-family: Shojumaru;
    src: url(../res/font/Shojumaru-Regular.ttf);
}

@font-face {
    font-family: Angkor;
    src: url(../res/font/Angkor-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../res/font/Montserrat-Regular.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    /*background: url(../res/bg.png) no-repeat center center fixed;*/
    background-size: cover;
}

html, body, button, p, span {
    font-family: "Shojumaru", serif;
}

.hidden {
    display: none;
}

#welcomeScreen {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
}

#welcomeImage {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/*--------------- BLUR ------------------*/
#acceptNotification,
#resetNotification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Выше остальных элементов */
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#acceptNotification .overlay,
#resetNotification .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#acceptNotification .notificationText,
#resetNotification .notificationText {
    position: absolute;
    color: #fff;
    font-size: 24px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
}
/*--------------- BLUR ------------------*/

/*------------ PRELOADER ----------------*/
#preloaderPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 101vh;
    background: url(../res/wild_west/main_bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#preloader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-size: 12em;
    color: #FFC400;
    width: 100%;
    height: 101vh;
    backdrop-filter: blur(10px);
}

.barcontainer{
    background-color: #FBE48B;
    position: absolute;
    top: 38%;
    width: 155px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 3px solid white;
    z-index: 2;
}

.bar{
    background-color: #FEC60F;
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
    border-radius: 10px;
}

@keyframes grow{
    from{
        transform: scaleY(0);
    }
}

#percentage, #percentage_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    color: white;
}

#percentage_text {
    top: 35%;
    font-size: 25px;
}
/*------------ PRELOADER ----------------*/

/*----------- FIRST PAGE ----------------*/
#firstPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 101vh;
    background: url(../res/wild_west/main_bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#character img {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
}

#firstPage #playBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/*----------- FIRST PAGE ----------------*/

/*------------- MENU PAGE ----------------*/
#settingsPage,
#gamesPage, #acceptPage {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 101vh;

    background: url(../res/wild_west/main_bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#settingsPage:before,
#acceptPage:before,
#gamesPage:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, .4);
}

#settingsPage .title,
#acceptPage .title,
#gamesPage .title {
    font-size: 35px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
    text-align: center;
    width: 100%;
}
/*----------------------------*/
#gamesPage #continue,
#settingsPage #resetGame,
#acceptPage #okAcceptPage {
    position: absolute;
    bottom: 20px;
    left: 0;
    /*width: 100%;*/
}

#settingsPage #resetGame {
    right: 20px !important;
}

#settingsPage #resetGame img,
#acceptPage #okAcceptPage img {
    /*width: 50%;*/
}
/*------------- MENU PAGE ----------------*/

/*------------ GAMES PAGE ----------------*/

#gamesPage #continue {
    right: 20px;
    bottom: 20px;
    left: auto;
}

.checkbox-container {
    width: 100%;
    height: 55vh;
    margin-top: 140px;
}

.checkbox-item {
    width: 100%;
    transition: transform 0.3s ease;
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.checkbox-item .game_img,
.checkbox-item .game_text,
.checkbox-item .game_bg {
    display: block;
    text-align: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    color: white;
    font-size: 22px;
}

.checkbox-item .game_text {
    margin-bottom: -28px;
    z-index: 1;
    position: absolute;
    padding-top: 15px;
}

.checkbox-item .game_img {
    margin-bottom: -10px;
    z-index: 1;
}

.checkbox-item input[type="radio"] {
    display: none;
}

.checkbox-item input[type="radio"]:checked + img {
    transform: scale(1.05);
}

/*------------ GAMES PAGE ----------------*/

/*----------- SETTINGS PAGE --------------*/

#settingsPage #resetGame,
#acceptPage #okAcceptPage {
    right: 20px;
    left: unset;
}

.switch {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 30px;
    left: 180px;
    border-radius: 20px;
    background: #FBE48B;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -10px;
    width: 50px;
    height: 47px;
    background-image: url(res/wild_west/star.png);
    background-size: cover;
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: linear-gradient(#FFC400, #997500);
}
input:checked + .switch::before {
    left: 55px;
    background-image: url(res/wild_west/star.png);
    background-size: cover;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.switchSpan {
    float: left;
    font-size: 24px;
    z-index: 100000;
    position: absolute;
    color: white;
}

.switchRawFirst {
    top: 30%;
    position: absolute;
    transform: translateX(80%);
}

.switchRawSecond {
    top: 40%;
    position: absolute;
    transform: translateX(80%);
}

.switchRawThird {
    top: 450px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 20pt;
}

.subTitle p {
    font-size: 32px;
    color: white;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25%;
}

#acceptPage .text {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

#acceptPage .rawThird {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
}

#acceptPage .rawThird button{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    font-family: Montserrat, serif;
    text-decoration: underline;
}

#acceptPage .text p {
    font-family: Montserrat, serif;
}

/*----------- SETTINGS PAGE --------------*/



/*------------- WIN + FAIL ---------------*/
#winPage, #failPage {
    background: url(../res/wild_west/gold_tiger_bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10%;
}

#winPage .flash,
#failPage .flash {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../res/wild_west/flash.png) no-repeat center center;
    animation: flashAnimation 2s infinite ease-in-out;
    z-index: 1;
    scale: 1.2;
}

/* Анимация мигания фона */
@keyframes flashAnimation {
    0% {
        opacity: 0.2;
        transform: scale(0.8); /* Начинаем с меньшего размера */
    }
    50% {
        opacity: 1;
        transform: scale(1.2); /* Увеличиваем до большего размера */
    }
    100% {
        opacity: 0.2;
        transform: scale(0.8); /* Возвращаем обратно к меньшему размеру */
    }
}

#winPage .score,
#failPage .score {
    width: 100%;
    height: 440px;
    text-align: center;
    position: absolute;
    left: -50%;
    transform: translateX(50%);
    top: 20%;
    background: url(../res/wild_west/win_bg.png) no-repeat center center;
    background-size: cover;
}

#winPage .win_gold {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

#failPage .score {
    background: url(../res/wild_west/fail_bg.png) no-repeat center center;
    background-size: cover;
}

#winPage .score .scoreText,
#failPage .score .scoreText {
    font-weight: 400;
    color: white;
    font-size: 60px;
    margin-top: 75px;
    position: relative;
    z-index: 2;
    background: -webkit-linear-gradient(#FFDA62, #992600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#failPage .score .scoreText {
    font-size: 48px;
    /*margin-top: 100px;*/
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#winPage .score .scoreValue,
#failPage .score .scoreValue {
    font-weight: 400;
    color: white;
    font-size: 55px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(70px);
    z-index: 2;
}

#failPage .score .scoreValue {
    transform: translateX(-50%) translateY(-20px);
}

#winPage .btn,
#failPage .btn {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-45px);
}

#winPage #againWin,
#failPage #backFail,
#failPage #againFail {
    border: none;
    background: none;
    position: absolute;
    padding: unset;
    width: 185px;
}

#failPage #backFail {
    left: 0;
}

#winPage #againWin,
#failPage #againFail {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

#winPage #againWin img,
#failPage #backFail img,
#failPage #againFail img {
    width: 100%;
}

/*---------------WIN + FAIL--------------*/

/*-----------------CANVA + SETTING-----------------*/
.canva {
    width: 80%;
    height: 55vh;
    border: 2px solid #fd3a99;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 15%;
    background: #fd3a991f;
}

.privacy {
    height: 35vh;
}

.canva .title {
    width: 100%;
    height: 50px;
    background: #f9659b;
    text-align: center;
    position: absolute;
    top: 0;
}

.canva .title p {
    color: #474646;
    font-size: 25px;
    font-family: "Angkor", serif;
    transform: translateY(-50%);
}

.canva .body {
    width: 100%;
    height: 90%;
    margin-top: 14%;
}

.canva .raw {
    width: 100%;
}

.canva .raw label span {
    color: white;
    font-family: "Angkor", serif;
    font-size: 30px;
    margin-left: 30px;
}

.canva .raw input {
    display: none;
}

.canva .raw label span,
.canva .raw label img {
    float: left;
}

.checkbox-input {
    display: none;
}

.checkbox-label {
    cursor: pointer;
    display: inline-block;
}

/* Состояние "off" по умолчанию */
.checkbox-label img.on {
    display: none;
}

.checkbox-label img {
    width: 90px;
    position: absolute;
    right: 25px;
}

/* Когда чек-бокс выбран, показываем изображение "on" */
.checkbox-input:checked + .checkbox-label img.off {
    display: none;
}

.checkbox-input:checked + .checkbox-label img.on {
    display: inline;
}

#item_result_1 {
    background: linear-gradient(#FF3A9A, #670427);
}

#item_result_2 {
    background: linear-gradient(#3af8ff, #045867);
}

#item_result_3 {
    background: linear-gradient(#ff513a, #671004);
}

#item_result_4 {
    background: linear-gradient(#563AFF, #4D0467);
}

.canva .body .chartLegend {
    height: 50px;
    width: 100%;
    float: left;
}

.canva .body .chart .chartLegend .itemLegend {
    float: left;
    width: 45px;
    text-align: center;
    margin-left: 15px;
    font-weight: 400;
}

/*------------END CANVA + SETTING----------------*/

/*----------------MOST WANTED PAGE----------------------*/
#mostWantedPage {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(res/wild_west/most_wanted_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

#rouletteCanvas {
    position: absolute;
    top: 15%;
    left: -60%;
    width: 120%;
}

#gameScoreRoulette {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.betControlRoulette {
    position: absolute;
    bottom: 155px;
    right: 0;
    width: 44%;
}

#currentBetRoulette {
    width: 95%;
    position: absolute;
    top: -50px;
    border: 2px solid #F6AA73;
    background: white;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.betControlRoulette button {
    background: none;
    border: none;
    padding: unset;
}

#backRoulette,
#spinButton {
    position: absolute;
    bottom: -5px;
    border: none;
    background: none;
    padding: unset;
    width: 180px;
}

#minusBetRoulette {
    left: 0;
    position: absolute;
    top: 0;
}

#plusBetRoulette {
    right: 5px;
    position: absolute;
}

#backRoulette {
    left: 0;
}

#spinButton {
    right: 0;
}

/*--------------END MOST WANTED PAGE--------------------*/

/*--------------MOST SPIN JACK PAGE--------------------*/

#spinJackPage {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(res/wild_west/spin_jack_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

#spinJackCanvas {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 55%;
}

#gameScoreSpinJack {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.reels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reel {
    width: 100px;
    overflow: hidden;
    background-color: #232223;
    position: relative;
    font-size: 24px;
    line-height: 40px;
    border: 1px solid #F88B00;
    height: 400px;
    text-align: center;
}

.reel .item {
    width: 100%;
    height: 20%;
    position: relative;
    vertical-align: baseline;
}

.reel .item img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.betControlSpinJack {
    position: absolute;
    bottom: 155px;
    right: 0;
    width: 44%;
}

#currentBetSpinJack {
    width: 95%;
    position: absolute;
    top: -50px;
    border: 2px solid #F6AA73;
    background: white;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.betControlSpinJack button {
    background: none;
    border: none;
    padding: unset;
}

#backSpinJack,
#spinSpinJackButton {
    position: absolute;
    bottom: -5px;
    border: none;
    background: none;
    padding: unset;
    width: 180px;
}

#minusBetSpinJack {
    left: 0;
    position: absolute;
    top: 0;
}

#plusBetSpinJack {
    right: 5px;
    position: absolute;
}

#backSpinJack {
    left: 0;
}

#spinSpinJackButton {
    right: 0;
}

.highlight {
    background: url(../res/wild_west/flash.png) no-repeat center center;
    animation: flashAnimation 2s infinite ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 25px rgb(35 34 35), inset 0 0 25px rgb(35 34 35), inset 0 0 25px rgb(35 34 35), inset 0 0 25px rgb(35 34 35);
}
/*---------------END SPIN JACK PAGE--------------------*/


/*-----------------OLD SALOON PAGE---------------------*/

#oldSaloonPage {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(res/wild_west/old_saloon_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

#oldSaloonCanvas {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 70%;
}

#startOldSaloonGame {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    position: absolute;
}

#startOldSaloonGame .text{
    text-align: center;
    margin-top: 100%;
    font-size: 30px;
}

#gameScoreOldSaloon {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

#backOldSaloon,
#scoreGameOldSaloon {
    position: absolute;
    bottom: -5px;
    border: none;
    background: none;
    padding: unset;
    width: 180px;
}

#backOldSaloon {
    left: 0;
}

#scoreGameOldSaloon {
    right: 0;
}

#scoreGameOldSaloon span {
    color: white;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
/*---------------END OLD SALOON PAGE-------------------*/


/*----------------------SCORE--------------------------*/
#score {
    width: 100%;
    height: 60px;
    z-index: 1000;
    position: absolute;
    top: 15px;
}

#score img {
    margin-left: -10px;
    margin-top: -10px;
    width: 40px;
    float: left;
}

#score .scoreValue {
    text-align: center;
    width: 100%;
    color: white;
    line-height: 50px;
    font-size: 22px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    background: url(res/wild_west/bg.png) no-repeat;
    background-position-x: center;
    position: absolute;
}
/*--------------------END SCORE------------------------*/

/*-----------------CONTAINER CONFIG--------------------*/
#containerConfig {
    position: absolute;
    width: 100%;
    z-index: 1001;
}

.containerConfig {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding-top: 5px;
}

.containerConfig .privacy_link {
    width: 105px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.containerConfig .privacy_link span {
    text-decoration: underline;
    color: white;
    font-family: Montserrat, serif;
    font-size: 15px;
}

.containerConfig .buttons {
    width: 55px;
    height: 130px;
    position: absolute;
    left: 20px;
}

#settingsButton, #close_btn {
    height: 55px;
    width: 55px;
    margin-top: 10px;
    z-index: 1010;
    position: relative;
}

#settingsButton img,
#close_btn img {
    width: 100%;
}

/*---------------END CONTAINER CONFIG------------------*/


/*------------------OFFER WALL------------------------*/
#gamesList {
    position: absolute;
    width: 100%;
    height: 100vh;

    overflow-y: auto;
}

#gamesList > div:first-child {
    margin-top: 50px;
}

#gamesList .game {
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 220px;
    margin-left: 5%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#gamesList .game img {
    position: relative;
    transform: translateX(50%);
    margin-top: 50px;
    float: left;
    width: 128px;
    height: 128px;
}

#gamesList .game button {
    position: relative;
    left: 30%;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #fff000;
    border-radius: 15px;
    background: linear-gradient(to bottom, #fff000, #f3bd48);
    font-weight: bold;
    margin-top: 90px;
    float: left;
}

.main_game {
    /*position: absolute !important;*/
    top: 70% !important;
    left: 5% !important;
    width: 90% !important;
    height: 80px !important;
    font-size: 24px;
}
/*------------------OFFER WALL------------------------*/

